.sjs-hstack {
    display: flex;
    flex-direction: row;
}

.sjs-vstack {
    display: flex;
    flex-direction: column;
}

.sjs-spacer {
    flex-grow: 1;
}

.sjs-hstack p, .sjs-vstack p {
    flex-grow: 0;
}